header{
   background-image: url(/img/pattern.png);
   background-repeat: repeat;
   background-size: contain;
}

#logo {
   width: 200px;
   padding-top: 60px;
   padding-left: 8px;
}

header {
   height: 120px;
   background-color: rgb(79, 159, 255);
   background-size: hight= 20px;
}

h1 {
   font-size: 40px;
   margin-bottom: 1px;
}

#subtitle{
   margin-bottom: 20px;
   color: gray;
}

#the-booleaner{
   color: rgb(0, 170, 255);
}

#photos{
   margin-top: 2px;
   margin-bottom: 20px;
}

.yellow_p {
   background-color: yellow;
}

thead{
   background-color: rgb(0, 110, 255);
   color: white;
}

.first_column{
   width: 25%;
}

.second_column{
   width: 25%;
}

.third_column{
   width: 50%;
}
.aqua_row{
   background-color: aqua;
}

#sentence-footer{
   margin-bottom: 10px;
   color: gray;
   font-size: 20px;
}

#first-photo-footer{
   background-image: url(/img/monitor.jpg);
   width: 280px;
   height: 200px;
   color: white;
   padding-top: 8px;
   padding-left: 8px;
   font-size: 28px;
   margin-bottom: 8px;
}


#second-photo-footer{
   background-image: url(/img/graph.jpg);
   width: 280px;
   height: 200px;
   color: white;
   padding-top: 8px;
   padding-left: 8px;
   font-size: 28px;
   margin-bottom: 8px;
}